.btn--icon {
  background: none;
  appearance: none;
  box-shadow: none;
  border:none;
  outline: none;
  cursor: pointer;

  // prevent background color flash on touch
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &.btn--white-bg {
    background-color: $color-white-transparent;
    border-radius: .313rem;
  }

  &:focus {
    background-color:inherit;
  }

  // Add after over-riding for touch devices
  // &:hover {
  //   background-color: $btn--hover;
  //   border-radius: 5px;
  // }
}

// .btn {
//   cursor: pointer;
//   width: 100%;
//   -webkit-appearance: none;
//   appearance: none;
//   border: 0;
//   background: none;
//   box-shadow:none;
//   max-width: $breakpoint-tablet;
//
//   &:focus {
//     outline: none;
//   }
//
//   &:disabled {
//     opacity: 0.2;
//     cursor: not-allowed;
//   }
//
//   &.btn--large {
//     padding: 0.75em;
//     font-size: 1.25rem;
//   }
//
//   &.btn--submit {
//     background-color: $secondary-color;
//     color: white;
//   }
// }
// html.touch *:hover {
//   pointer-events: none !important;
// }
