.btn--icon {
  background: none;
  appearance: none;
  box-shadow: none;
  border:none;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);  // prevent background color flash on touch

  &.btn--icon--white-bg {
    background-color: $color-white-transparent;
    border-radius: .313rem;
  }

  // prevent background color on IE
  &:hover {
    background: none;
  }

}

.btn--submit {
  color: $primary-color-inverted;
  background-color: $secondary-color;
}
