.content-block-container {
  min-height: 98vh;
  @include flex-column;
  justify-content: center;
  align-items: center;

  .content-block {
    flex:.25;
    padding: $app-padding;
    max-width: $app-max-width;
  }
}
