.content-block-container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  align-items: center;
  padding: 0 ($app-padding + 1.5rem);
  padding-top: $navbar-height - 1.5rem;

  &.hero-container {
    justify-content: center;
    padding-bottom: 20vh;
  }

  .hero-content {
    p {
      font-size: $hero-font-size;
    }
  }

  .main-content {
    flex: 1;
    h1 {
      text-align: center;
    }
  }

  @media screen and (min-width: $breakpoint-tablet) {
    .main-content {

      padding-left: $app-padding + 1rem;
      padding-right:  $app-padding + 1rem;
      max-width: $content-max-width;
      h1 {
        text-align: left;
      }
    }
  }
}
