.content-block-container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;

  .content-block {

    padding: $content-block-padding;

    h1 {
      text-align: center;
    }
  }
  &.content-block-vertical-middle {
    justify-content: center;

    .content-block {
       flex:.25;
    }
  }
  @media screen and (min-width: $breakpoint-tablet) {
    .content-block {
      padding-left: $content-block-padding + 5rem;
      padding-right: $content-block-padding + 5rem;
      max-width: $content-max-width;
      h1 {
        text-align: left;
      }
    }
  }
}
