ul.grid {
  margin: 0;
  padding: 0;
  list-style: none;

  li.grid-item {
    display: flex;
    padding: 0.5em;
    margin-bottom: .5rem;
    width: 100%;
    max-width: $breakpoint-tablet;

    img {
      width: 100%;
      // max-width: $img-max-width;
      border: 1px solid $color-gray-7;
    }
    .grid-item--heading {
      @include flex-row();
      h2 {
        flex: 1;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .grid-item--options {
      a {
        padding-right: .25rem;
      }
    }
    p {
      margin-top: .15rem;
    }

    @media all and (min-width: $breakpoint-tablet) {
      margin-bottom: 1.5rem;

      .grid-item--heading {
        h2 {
          margin-top: .15rem;
          margin-bottom: .15rem;
        }
      }
      .grid-item--options {
        a {
          padding-right: .5rem;
        }
      }
      p {
        margin-top: .25rem;
      }
   }
  }
}
