//Icon library: https://materialdesignicons.com/

i {
	color: $icon-color;
}

.mdi:before {
  display: initial; // prevent icons from appearing above other content
}

.icon--text-inline {
	  color: $secondary-color;
    &:before {
     vertical-align: -0.09rem;
    }
}

.icon--link:hover {
  text-decoration: none;
}

.icon--link-with-border {
  i {
    border: 1px solid lighten($secondary-color, 30%);
    border-radius: .15rem;
    padding:0.15rem .25rem;
    color: lighten($secondary-color, 20%);
  }

  &:hover {
    text-decoration: none;
    i {
      border: 1px solid $secondary-color;
      color: $secondary-color;
    }
  }
}
