img.profile-image {
  border-radius: 50%;
  max-width:15em;
  height: auto;
  text-align: center;
  float: none;
  margin: 1.5em 0;

  @media screen and (min-width: $breakpoint-tablet) {
    text-align: inherit;
    float: right;
    margin: -.5em 0 1.5em 1.5em;
  }

}
