.img--pull-right {
  text-align: center;

  img {
    border-radius: 50%;
    max-width:10em;
    height: auto;
    margin: 1em 0;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    text-align:inherit;
    img {
      max-width: 15em;
      float: right;
      margin: -.5em 0 1.5em 1.5em;
    }
  }
}
