@mixin list--no-bullets {
	list-style: none;
	margin:0;
	padding-left: 1em;
	text-indent: -1em;
}
.list--no-bullets {
	@include list--no-bullets
}

@mixin list--inline($spacing:0.5em) {
	list-style-type: none;
  li {
    display: inline;
		margin-right: $spacing;
  }
}
.list--inline {
  @include list--inline()
	li {
		&::after {
			padding-left: .5em;
			content:'/';
			padding-right: .5em;
		}
	}
}

.list--inline--divider {
	$spacing: 0.8rem;
	list-style-type: none;
	li {
		  display: inline;
			margin-right: $spacing / 2;

			&::after {
				padding-left:$spacing / 2;
				content:'/';
			}
			&:last-child {
			 margin-right:0;

				&::after {
					content:'';
				}
			}
	  }
}

.list--content {
  margin:0;
  padding: 0;
  list-style: none;

  & > li {
    display: flex;
    margin-bottom: $p-margin-bottom + 1rem;
    width: 100%;
    max-width: $breakpoint-tablet;

    img {
      width: 100%;
      // max-width: $img-max-width;
      border: 1px solid $color-gray-7;
    }
    .list-item--heading {
      @include flex-row();
      h2 {
        flex: 1;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .list-item--options {
      a {
        padding-right: .25rem;
      }
    }
    p {
      margin-top: .15rem;
    }

    @media all and (min-width: $breakpoint-tablet) {
      margin-bottom: 1.5rem;

      .list-item--heading {
        h2 {
          margin-top: .15rem;
          margin-bottom: .15rem;
        }
      }
      .list-item--options {
        a {
          padding-right: .5rem;
        }
      }
      p {
        margin-top: .25rem;
      }
   }
  }
}
