.list {
	list-style: none;
	margin:0;
	padding-left: 1em;
	text-indent: -1em;
}


@mixin list--no-bullets {
	padding-left: 0;
	list-style-type: none;
}
.list--no-bullets {
	@include list--no-bullets
}


@mixin list--inline($spacing:0.5em) {
	list-style-type: none;
  li {
    display: inline;
		margin-right: $spacing;
  }
}
.list--inline {
  @include list--inline
}
