// based on:  https://github.com/callmenick/Slide-Push-Menus
.mask {
  position: fixed;
  z-index: $z-index-mask;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.4s, width 0s 0.3s, height 0s 0.3s;

  &.is-active {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    transition: opacity 0.4s;
  }

}
