.nav-menu {
  height: 100%;
  width: $nav-menu-width;
  position: fixed;
  z-index: $z-index-nav-menu;
  background-color: $color-gray-8;
  transition: transform 0.3s;

  .menu-header {
    padding:.45rem;
    background-color:white;
    @include flex-row();
  }

  .menu-section {
    padding: 0.75rem;
    padding-bottom: .9rem;
    background-color: white;
  }
}

.c-menu--slide-right {
  box-shadow: none;
  top: 0;
  right: 0;
  transform: translateX(100%);

  @media all and (min-width: $nav-menu-break-point) {
    transform: translateX($nav-menu-width);
  }
  &.is-active{
    transform: translateX(0);
    box-shadow: -3px 0px 3px 0px rgba(0,0,0,0.2);
  }
}
