.nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  @include flex-row();
  justify-content: space-between;

  padding: 0.35rem 0.75rem 0 0.75rem;

  .right-col {
    padding-top: .25rem;
  }

  @media only screen and (min-width: $breakpoint-tablet) {
    padding: 0.5rem 0.75rem 0 1rem;
  }


  // .center-block {
  //   // flex: 1;
  //   background-color: transparent;
  // }
}
