.navbar {
  // width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;   //vertical middle

  background-color: white;
  height: 4em;

  transition: all 0.25s linear;

  &.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .brand {
    width: 1.5em;
  }
  .main-content {
    flex: 1;
  }
  .header-nav {
    display: none;
    transition: all 1s linear;
    @include list--inline(1em);
    text-align: right;

    li.active {
      background-color: blue;
    }
  }
  .mobile-nav {
    display: block;
  }

  @media all and (min-width: $breakpoint-tablet) {
    .mobile-nav {
      display: none;
    }
    // .header-nav {
    //   display: none;
    //
    // }
  }
}
