.brand-pill {
  border-radius: 50%;
  transition: background-color .5s ease;
  background-color: $gray-transparent-bg;

  padding:.25rem;
  padding-bottom: .5rem;

  z-index: $z-index-brand-pill;
  font-size: $brand-font-size;
  line-height: $brand-font-line-height;

  a {
    color: lighten($secondary-color, 30%);
  }
  &:hover {
    background-color: darken($gray-transparent-bg, 30%);
    a {
        color:$secondary-color;
        text-decoration: none;
    }
  }
}
