// --------------------------------
// LAYOUT
// --------------------------------
$app-max-width: 75em;
// $centered-block-max-width: $app-max-width / 2;
// $app-left-right-padding: 2em;
// $app-header-left-right-padding: $app-left-right-padding - 1em;
// $main-left-right-padding: 1em;
// $app-min-width: ($main-left-right-padding * 2) + 15em;

//App Header
$app-header-height: 4em;
$app-header-left-right-padding: .5em;




// --------------------------------
// COLORS
// --------------------------------

//Material UI Grayscale - http://www.materialui.co/colors
$color-gray-10:#FAFAFA; //lightest
$color-gray-9:#F5F5F5;
$color-gray-8:#EEEEEE;
$color-gray-7:#E0E0E0;
$color-gray-6:#BDBDBD;
$color-gray-5:#9E9E9E;
$color-gray-4:#757575;
$color-gray-3:#616161;
$color-gray-2:#424242;
$color-gray-1:#212121; //darkest
