// APP LAYOUT
$app-max-width: 30em;
$app-padding: 1em 2em;

// NAVBAR
// $navbar-height: 10em;

// LAYOUT
$corner-fixed-offset: .5em;

// COMPONENTS
$nav_menu_position_top: 20px;
$nav_menu_position_right: $nav_menu_position_top;
