// Fonts
$base-font-family: 'Roboto Slab', Georgia, Times, 'Times New Roman', serif;
$brand-font-family: 'Roboto Slab', Georgia, Times, 'Times New Roman', serif;

$base-font-size:20px;
$base-font-size-tablet: 1.4em;
$base-font-size-desktop: 1.6em;
$base-text-color: #37474F;

// Brand
$brand-font-size: 1.8em;
$brand-font-line-height: .7em;


// Content
$p-font-size: 1.2em;
$p-line-height: 1.1em;

// Headings
$h1-font-size: 2.3em;
$h2-font-size: 1.2em;


// Links
$link-color: $primary-color-dark;
