// BASE
body {
	color: $primary-color;
}
// HELPERS
.secondary-color {
	color: $secondary-color;
}

// HEADINGS
h1 {
	// color: $secondary-color;
}
h2 {
  //color: $color-gray-3;
	a {
		color: inherit;
	}
}

.meta-content, .secondary-text {
	color: $meta-content-color;
}


// LINKS
a {
	color: $secondary-color;
}

// ICONS
i {
	color: $meta-content-color;
}
