// Accessibility
.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

// Styling
.round {
	border-radius: 50%;
}
.light-border {
  border: 1px solid $color-gray-8;
}
