// --------------------------------
// LAYOUT
// --------------------------------
.layout__centered { 
  margin: 0 auto;
}
.full-width {
	width: 100%;
}

// --------------------------------
// TEXT
// --------------------------------
.align-centered {
	text-align: centered;
}