// FULL HEIGHT LAYOUT
// _____________________________________
html,body {
  height:100%;
}

#container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding:  $app-padding;
  max-width: $app-max-width;
  overflow: auto; 
}


// HELPERS
// _____________________________________
.layout__centered { 
  margin: 0 auto;
}
.full-width {
  width: 100%;
}
.align-centered {
  text-align: centered;
}