// NATURAL BOX MODEL
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
// _____________________________________
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.app-container {
  padding: $content-block-padding;
}

html {
    // overflow-y: scroll;
    // overflow-y: overlay;
}

.app-header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: $content-block-padding;
  // padding-right: $content-block-padding;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  .center-block {
    // flex: 1;
    background-color: transparent;
  }
}


// FLEX ROW
// @mixin flex-row {
//   display: flex;
//   flex-flow: row nowrap;
//
//   &.flex-centered {
//   	 justify-content: center;
//   }
//   &.flex-vertical-middle {
//   	align-items: center;
//   }
//   &.flex-vertical-baseline {
//     align-items: baseline;
//   }
//
//   .flex-main-content {
//     flex: 1;
//   }
// }

// Layout
