// FULL HEIGHT LAYOUT
// _____________________________________
html,body {
  height:100%;
}

.container {
  padding:  $app-padding;
  max-width: $app-max-width;
}

// HELPERS
// _____________________________________
.centered { 
  margin: 0 auto;
}
.full-height {
  min-height: 100vh;
  overflow: auto; 
}

