// FLEX LAYOUT
@mixin flex-row($vertical-align: center) {
  display: flex;
  flex-flow: row nowrap;
  align-items: $vertical-align;
}
@mixin flex-main {
  flex: 1;
}
.flex-main-content {
  @include flex-main;
}


// Allow for clicking 'through' an element
@mixin clickThrough(){
  pointer-events: none;
  a, button {
    pointer-events:auto;
    position: relative; // IE
  }
}

// Move element off screen
@mixin offScreen() {
  position: absolute;
  left: -999em;
}

// actually, a honeypot class
.form-input {
  @include offScreen;
}
