body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	color: $primary-text-color;
}

// .brand {

// }

.brand {
		
	// font-family: $brand-font-family;
	font-size: 2.3em;
		text-align: center;
		font-weight: 400;
		line-height: .9;
		color: $primary-text-color;

	.sub-heading {
		font-size: 45%;
		color:$secondary-text-color;
	
	}

}

h2 {
	font-size: 1.2em;
	margin-top:0;
	margin-bottom: .25em;
	// color:$secondary-text-color;

	// font-weight:100;
}

p, ul {
	line-height: 1.2;
	font-size: 1.3em;
		margin-top:0;
	margin-bottom: .75em;	
}

// p {
// 	margin-top:0;
// 	margin-bottom: .75em;	
// }


// ul {
// 	// line-height: 1.2;
// 	// font-size: 1.3em;
// 	margin-top:0;
// 	margin-bottom: .75em;	
// }

.list_unstyled {
	padding-left: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: $link-color;

	&:hover {
		text-decoration: underline;
	}
}

@media only screen and (min-width: 31.25em) {
  body {
     font-size: $base-font-size-tablet;
  }
   .brand {
  		color:$secondary-text-color;
  		.sub-heading {
		  color:$divider-color;
		  padding-right: 2em;
	    }
  }
  // .brand {
  // 	padding-right: 2em;
  // }
}

@media only screen and (min-width: 62.5em) {
  body {
     font-size: $base-font-size-desktop;
  }
 
}