body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	color: $primary-text-color;
}
@media only screen and (min-width: 62.5em) {
  body {
     font-size: $base-font-size-desktop;
  }
}


// HEADINGS
h1 {
	font-size: $h1-font-size;
	color: $secondary-text-color;
	text-align: center;
	font-weight: 400;
	line-height: .9;

	.co {
	  color: $divider-color;
  }

	.h1--inline-heading {
		font-size: 45%;
		color:$accent-color;
	}
}


@media only screen and (min-width: 31.25em) {
  body {
     font-size: $base-font-size-tablet;
  }
   h1 {
  		color:$secondary-text-color;

  		.h1--inline-heading {
		    color:$secondary-text-color;
		    padding-right: 2em;
	    }
  }
}


h2 {
	font-size: $h2-font-size;
	color: $secondary-text-color;
	margin-top:0;
	margin-bottom: .25em;
}

// CONTENT
p {
	font-size: $p-font-size;
	line-height: $p-line-height;
	margin-top:0;
	margin-bottom: .75em;
}

ul {
	line-height: 1.2;
	font-size: 1.3em;
	margin-top:0;
	margin-bottom: .75em;
}


// LINKS
a {
	text-decoration: none;
	color: $link-color;

	&:hover {
		text-decoration: underline;
	}
}

// ICONS
i {
	color: $link-color;
}
