
// LAYOUT
// _____________________________________
$app-max-width: 30em;
$app-padding: 1em 2em;


// TEXT
// _____________________________________
// See https://css-tricks.com/snippets/css/font-stacks/
$base-font-family: 'Yrsa', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;


$base-font-size: 1.2em;
$base-font-size-tablet: 1.4em;
$base-font-size-desktop: 1.6em;
$base-text-color: #37474F;
$link-color: $primary-color-dark;

