// Accessibility
.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

// Layout
.top-left-corner-fixed {
  position: fixed;
  top: $corner-fixed-offset;
  left: $corner-fixed-offset;
}
.top-right-corner-fixed {
  position: fixed;
  top: $corner-fixed-offset;
  right: $corner-fixed-offset;
}
.align-center {
  text-align: center;
}
.pull-right {
  float:right;
}
.off-screen {
  position: absolute;
  left: -999em;
}

// Lists
.list--unstyled {
	padding-left: 0;
	list-style-type: none;
}


// Styling
.round {
	border-radius: 50%;
}
