<h2>about</h1>
  <img class="round" src="http://placehold.it/150x150" alt="Photo of Anders Ramsay" title="Photo of Anders Ramsay" />
<p>I'm a Developer and UX Designer based in Brooklyn, NY.  <p>One of my recent projects is "Mipsum Ipsum," a one-click Lorem Ipsum generator.</p>
<p>Interested in working together?  Please drop me a note!</p>

<h2>More About Me</h2>
<ul class="list--unstyled">
<li><a href="http://www.andersramsay.com/">AndersRamsay.com</a></li>
<li><a href="http://coderchronicles.org/">CoderChronicles.org</a></li>
<li><a href="https://github.com/CodeChron/">Github</a></li>
<li><a href="https://www.linkedin.com/in/andersramsay">LinkedIn</a></li>
<li><a href="https://drive.google.com/file/d/0B5PHy2Bpzqc0aGo3R1V2REpBaWc/view?usp=sharing">Resum&eacute;</a></li>
</ul>

<p>Thanks for visiting!</p>
