<h2>about</h2>
<div class="resp-img-float-right">
  <img class="round" src="http://placehold.it/200x200" alt="Photo of Anders Ramsay" title="Photo of Anders Ramsay" />
    </div>
<p>I'm a Developer and UX Designer based in Brooklyn, NY. Recently, I've been blogging about <a href="http://coderchronicles.org/2016/08/17/the-tdd-practice-i-wish-i-had/">The TDD Practice I Wish I Had</a>. One of my recent projects is <a href="https://github.com/CodeChron/morem-ipsum-app">Mipsum Ipsum</a>, a one-click Lorem Ipsum generator. Interested in working together? <a href="#contact">Drop me a note</a>.</p>

<h2>More About Me</h2>
<ul class="list--unstyled">
<li><a href="http://coderchronicles.org/">Coding Blog</a></li>
<li><a href="https://github.com/CodeChron/">Github</a></li>
<li><a href="https://www.linkedin.com/in/andersramsay">LinkedIn</a></li>
<li><a href="https://drive.google.com/file/d/0B5PHy2Bpzqc0aGo3R1V2REpBaWc/view?usp=sharing">Resum&eacute;</a></li>
<li><a href="http://www.andersramsay.com/">UX Blog</a></li>
</ul>
