<h1>About</h1>
<div class="img--pull-right">
    <img src="/images/anders_office_selfie.jpg" alt="Anders Ramsay selfie at the office" title="Anders Ramsay selfie at the office" />
</div>
<p>I'm a Developer and UX Designer in Brooklyn, NY.</p>
<p>Recently, I've been blogging about <a href="http://coderchronicles.org/2016/11/04/building-your-first-portfolio-website-these-are-some-tips-to-consider/">Building Your First Portfolio Site</a>.</p><p>A project I recently worked on is <a href="https://github.com/CodeChron/morem-ipsum-app">Mipsum Ipsum</a>, a one-click Lorem Ipsum generator, built with React and Webpack.</p>
<h2>More About Me</h2>
  <% include ./_elsewhere.ejs %>
  <p class="new-paragraph">Interested in working together? <a data-scroll href="#contact">Drop me a note</a>.</p>
  <h2>About This Site</h2>
  <p>This site was built using Gulp, Express, JQuery, SASS, and more.</p><p><a href="https://github.com/andersr/andersco-site">View Repo.</a></p>
