<div class="content-block-container" id="home">
  <div class="content-block">
    <p>Hi, I'm Anders Ramsay. I &hearts;<span class="sr-only">Love</span> Designing / Building Digital Products.</p>
    <p><a data-scroll href="#about">About</a></p>
    <p><a data-scroll href="#projects">Projects</a></p>
    <p><a data-scroll href="#contact">Contact</a></p>
  </div>
</div>
