<header>
    <div class="pill brand-pill brand"><a data-scroll href="#">a</a></div>
    <div class="center-block">&nbsp;
    </div>
  <button id="c-button--slide-right" class="mobile-nav nav-menu-btn"><i class="mdi mdi-menu"></i></button>
</header>



<!-- <span class="pill brand-pill top-left-corner-fixed"><a data-scroll href="#">a</a></span>
<button id="c-button--slide-right" class="nav-menu-btn top-right-corner-fixed"><i class="mdi mdi-menu"></i></button> -->

<!-- <ul class="header-nav main-content" data-gumshoe>
  <li><a data-scroll href="#about">About</a></li>
  <li><a data-scroll href="#projects">Projects</a></li>
  <li><a data-scroll href="#contact">Contact</a></li>
</ul> -->
