<header class="app-header">
    <div class="brand-pill"><a data-scroll href="#">a</a>
    </div>
    <!-- <div class="center-block">&nbsp;
    </div> -->
    <!-- <div class="right-col"> -->
        <button title="Open Menu" id="c-button--slide-right" class="btn--icon"><i class="mdi mdi-36px mdi-menu"></i></button>
    <!-- </div> -->
</header>



<!-- <span class="pill brand-pill top-left-corner-fixed"><a data-scroll href="#">a</a></span>
<button id="c-button--slide-right" class="nav-menu-btn top-right-corner-fixed"><i class="mdi mdi-menu"></i></button> -->

<!-- <ul class="header-nav main-content" data-gumshoe>
  <li><a data-scroll href="#about">About</a></li>
  <li><a data-scroll href="#projects">Projects</a></li>
  <li><a data-scroll href="#contact">Contact</a></li>
</ul> -->
