<h2>Projects</h2>
<div class="grid">
  <div class="grid-item">
    <a href="https://github.com/deckd/web_app"><img class="round" src="http://placehold.it/200x200" alt="Project Thumbnail" /></a>
      <h3><a href="https://github.com/deckd/web_app">Deckd</a></h3>
    <p>
     A minimal slideshow app.
    </p>
    <p>
      Stack: Meteor JS
    </p>
  </div>

  <div class="grid-item">
    <a href="https://github.com/logd/v1_app"><img class="round" src="http://placehold.it/200x200" alt="Project Thumbnail" /></a>
      <h3><a href="https://github.com/logd/v1_app">Logd</a></h3>
    <p>
      A simple note-taking app.
    </p>
    <p>
      Stack: React, Meteor
    </p>
  </div>

  <div class="grid-item">
    <a href="https://github.com/CodeChron/morem-ipsum-app"><img class="round" src="http://placehold.it/200x200" alt="Project Thumbnail" /></a>
      <h3><a href="https://github.com/CodeChron/morem-ipsum-app">Mipsum Ipsum</a></h3>
    <p>
      One-click Lorem Ipsum.
    </p>
    <p>
      Stack: React, Redux, Webpack
    </p>
  </div>
  <div class="grid-item">
    <a href="#"><img class="round" src="http://placehold.it/200x200" alt="Project Thumbnail" /></a>
      <h3><a href="#">Website Site Template</a></h3>
    <p>
      A starter template for creating portfolio sites and more.
    </p>
    <p>
      Stack: Express, Gulp
    </p>
  </div>

</div>
