<h1>Projects</h1>
<ul class="list--content">
  <li>
    <div class="grid-item--content">
      <a href="http://deckd.co/"><img   src="/images/projects/deckd-viewer-kittens.jpg" alt="Deckd App" /></a>
      <div class="list-item--heading">
        <h2><a href="http://deckd.co/">Deckd</a></h2>
        <div class="list-item--options">
          <a href="http://deckd.co/" title="View App" class="meta-content link--icon"><i class="mdi mdi-eye"></i></a>
          <a href="https://github.com/deckd/web_app" title="View Repo" class="meta-content link--icon"><i class="mdi mdi-github-circle"></i></a>
        </div>
      </div>
      <p>An app for creating in-the-moment presentations. Built with Meteor JS.</p>
    </div>
  </li>
	 <li>
     <div class="grid-item--content">
         <a href="http://logd.co/"><img src="/images/projects/logd.jpg" alt="Logd App" /></a>
         <div class="list-item--heading">
           <h2><a href="http://logd.co/">Logd</a></h2>
           <div class="list-item--options">
             <a href="http://logd.co/" title="View App" class="meta-content link--icon"><i class="mdi mdi-eye"></i></a>
             <a href="https://github.com/logd/v1_app" title="View  Repo" class="meta-content link--icon"><i class="mdi mdi-github-circle"></i></a>
           </div>
         </div>
       <p>A minimal note-taking app.  Built with Meteor and React JS.</p>
     </div>
  </li>
  <li>
    <div class="grid-item--content">
      <a href="http://www.mipsumipsum.com/"><img src="/images/projects/mipsum-ipsum.jpg" alt="Mipsum Ipsum App" /></a>
      <div class="list-item--heading">
          <h2><a href="http://www.mipsumipsum.com/">Mipsum Ipsum</a></h2>
          <div class="list-item--options">
              <a href="http://www.mipsumipsum.com/" class="meta-content link--icon" title="View App"><i class="mdi mdi-eye"></i></a>
                <a href="https://github.com/CodeChron/morem-ipsum-app" class="meta-content link--icon" title="View Repo"><i class="mdi mdi-github-circle"></i></a>
          </div>
      </div>
      <p>One-click lorem ipsum for mockups.  Built with React and Webpack.</p>
    </div>
  </li>
</ul>
