<p>Hi, I'm Anders Ramsay.</p>
<p>I&nbsp;<span class="icon--text-inline mdi mdi-heart"></span><span class="sr-only">Love</span> Designing and Building Digital Products.</p>
<p id="welcome-nav"><a data-scroll href="#about">About</a> / <a data-scroll href="#contact">Contact</a> / <a data-scroll href="#projects">Projects</a></p>
