.brand-pill {
  z-index: $z-index-brand-pill;
  padding:.1em .25em .3em .25em;
  border-radius: 50%;
  font-size: $brand-font-size;
  line-height: $brand-font-line-height;
  color: $primary-color-text;
  background-color: $color-gray-7;
}
